env/
env2/
secrets.sh
*.pyc
ratings/
ratings/solution
app-env.sh
chart.html
templates/CHARTDATADATA.html
fitbit1.sql
fitbit.sql


# To Do:
# 1. React Dashboard --> components: graphs, recently imported data, user profile for updating stats, option to take a test
# 2. Show/hide mental health tests when selected (JS)
# 4. Explore weather API, possibly Google Maps
