<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  

</head>

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">FitKit</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>

                <li>
                  <a href = "/register">
                    New User? Register Here
                  </a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="container">

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  {% block body %}
      
  {% endblock %}

</div>

</body>
</html>
