{% extends 'base.html' %}

{% block body %}
<style>
  .lineChart {
    padding-left: 150px;
    padding-right: 150px;
  }
  .btn {
    margin-right:50px;
  }
  #logout {
    margin-left:50px;
  }
  #stats {
    display:none;
  }

</style>
<div class="card-deck">
  <div class="card border-light mb-3" style="max-width: 30rem;">
    <div class="card-header">Model Your FitBit Data</div>
      <div class="card-body">
        <h5 class="card-title">Select what type of data you would like to chart:</h5>
          <p class="card-text">
            <form action = "/chartdata" id = "chartdata" name = "chartdata"> Select what type of data you would like to chart: <br>
          <input type = "radio" class = "chart" name = "firstchart_type" value = "PHQ" required> PHQ9 Scores <br>
          <input type = "radio" class = "chart" name = "firstchart_type" value = "GAD7" required> GAD7 Scores <br>
          <input type ="radio" class = "chart" name = "firstchart_type" value = "ISI" required> Insomnia Sleep Questionnaire <br><br>
          <input type = "radio" class = "chart" name = "secchart_type" value = "Steps" required> Steps <br>
          <input type = "radio" class = "chart" name = "secchart_type" value = "Resting Heart Rate" required> Resting Heart Rate <br>
          <input type ="radio" class = "chart" name = "secchart_type" value = "Mins Slept" required> Mins Slept <br>
          <input type = "radio" class = "chart" name = "secchart_type" value = "Mins Exercise" required> Mins Exercise <br>
          <input type = "radio" class = "chart" name = "secchart_type" value = "Mins Sedentary" required> Mins Sedentary <br>
            <button class="btn btn-lg btn-light" type="submit">Submit
            </button>
          </form>
        </p>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width:30rem;" id="stats">
    <div class="card-header"> Statistics </div>
      <div class="card-body">
        <p class="card-text"> <b>Statistics for Your Test: </b><br>
          Mean Test Score: <span id='testmean'></span><br>Median Test Score: <span id='testmedian'></span><br>Range of Test Scores: <span id='testrange'></span><br> Standard Deviation of Test Scores: <span id='teststd'></span><br><br><b>Statistics for Your Biometric Data: </b><br>Metric Mean: <span id='fitmean'></span><br>Metric Median: <span id='fitmedian'></span><br> Metric Range: <span id='fitrange'></span><br> Standard Deviation of Your Metric: <span id='fitstd'></span><br>
        </p>
      </div>
    </div>
  </div>


  <div class='lineChart'>
    <canvas id='lineChart'></canvas>
  </div>


<script>
"use strict";


function createDataset(label, data, colorOpts = {}) {
    return {
      label: label,
      fill: false,
      lineTension: 0.1,
      backgroundColor: colorOpts.backgroundColor || "#88BBD6",
      yAxisId: "id1",
      borderColor: (
        colorOpts.borderColor || "#88BBD6"
        ), 
      borderCapStyle: 'square',
      borderDash: [], 
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "black",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: (
        colorOpts.pointHoverBackgroundColor || "#88BBD6"
        ),
      pointHoverBorderColor: (
        colorOpts.pointHoverBorderColor || "#88BBD6"
        ),
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,


      data: data,
      spanGaps: true,
    };
}


$(document).on('ready', () => {

  const ctx = $('#lineChart').get(0).getContext('2d');


  const options = {
    responsive: true,
    hoverMode: 'index',
    stacked: true,
    title: {
      display: true,
      text: 'Biometric Data vs. Mental Health Test Scores'
    },
    scales: {
      yAxes: [{
        type: 'linear',
        display: true,
        position: 'left',
        id: 'id1'
      }, {
        type: 'linear',
        display: true,
        position: 'right',
        id: 'id2',
        gridLines: {
          drawOnChartArea: false,
        },
        xAxes: [{
          type: 'time',
          distribution: 'series',
          ticks: {
            autoSkip: false
          }
        }]
      }],
    }
  };


  const data = {
    labels: {{ labels|tojson }},
    datasets: [
      createDataset(
        'Test Scores',
        {{ data1|tojson }}
        ),
      createDataset(
        'FitBitData',
        {{ data2|tojson }}
       
        )
    ]
  };

  const fitbitLineChart = new Chart(
    ctx,
    {
      type: 'line',
      data: data,
      options: options
    }
  );

  $('#chartdata').on('submit', (evt)=> {
    evt.preventDefault();
    const formData = {
      firstchart_type: $(
        'input:radio[name="firstchart_type"]:checked',
        '#chartdata'
      ).val(),
      secchart_type: $(
        'input:radio[name="secchart_type"]:checked',
        '#chartdata'
      ).val(),
      format: 'json'
    };

    $.get('/chartdata', formData, (data)=> {
      const lengthLabel = fitbitLineChart.data.labels.length;
      const lengthDataset = fitbitLineChart.data.datasets.length;

      const fitdata = data.stats2;
      const testdata = data.stats1;

      $('#testmean').html(testdata.mean);
      $('#testmedian').html(testdata.median);
      $('#testrange').html(testdata.range);
      $('#teststd').html(testdata.std);
      $('#fitmean').html(fitdata.mean);
      $('#fitmedian').html(fitdata.median);
      $('#fitrange').html(fitdata.range);
      $('#fitstd').html(fitdata.std);


      for (let i = 0; i<lengthLabel; i++) {
        fitbitLineChart.data.labels.pop();
      
      };
      for (const label of data.labels) {
        fitbitLineChart.data.labels.push(label);
      }

      for (let i = 0; i<lengthDataset; i++) {
        fitbitLineChart.data.datasets.pop();
      }

      for (const dataset of data.datasets) {
        const newConfig = createDataset(
                              dataset.label,
                              dataset.data,
                              dataset.colorOpts);

        fitbitLineChart.data.datasets.push(newConfig);
      };

      fitbitLineChart.update();
    });

  });

});
$('#chartdata').on('submit', ()=> {
  $('#stats').show();
});

</script>


</ul>
</div>
<h4><form action = '/getfit' method = 'GET'> <a href = '/getfit' class="btn btn-info" role="button" style="float:right;"> Access more FitBit data</a></form> </h4><br>
  <h4> <form action = '/newtest' method = 'GET'> <a href = '/newtest' class="btn btn-info" role="button" style="float:right;"> Take a new mental health test</a></form></h4><br>
  <h4> <form action = '/chartdata' method = 'GET'><a href = '/chartdata' class="btn btn-info" role="button" style="float:right;"> View Chart </a></form></h4><br>

<footer>
    <div> <br><br>
                  <form action = "/logout" method = "POST"> 
                  <input type = "submit" class="btn btn-light" id="logout" value = "Log Out"> <!--    Show only when user is logged in using JS -->
                 </form>
            </div>
        </footer>
{% endblock %}
