{% extends 'base.html' %}

{% block body %}

<h2 class="form-signin-heading">Your FitBit Data</h2>
     <br><br>
<div>
<ul> 
<form action = "/chartdata" id = "chartdata" name = "chartdata"> Select what type of data you would like to chart: <br>
  <input type = "radio" class = "chart" name = "firstchart_type" value = "PHQ" required> PHQ9 Scores <br>
  <input type = "radio" class = "chart" name = "firstchart_type" value = "GAD7" required> GAD7 Scores <br>
  <input type ="radio" class = "chart" name = "firstchart_type" value = "ISI" required> Insomnia Sleep Questionnaire <br><br>
  <input type = "radio" class = "chart" name = "secchart_type" value = "Steps" required> Steps <br>
  <input type = "radio" class = "chart" name = "secchart_type" value = "Resting Heart Rate" required> Resting Heart Rate <br>
  <input type ="radio" class = "chart" name = "secchart_type" value = "Mins Slept" required> Mins Slept <br>
  <input type = "radio" class = "chart" name = "secchart_type" value = "Mins Exercise" required> Mins Exercise <br>
  <input type = "radio" class = "chart" name = "secchart_type" value = "Mins Sedentary" required> Mins Sedentary <br>
     <button id = "submitbutton" type="submit">Submit 
        </button>
  </form>
</ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <canvas id='lineChart'></canvas>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
"use strict";


function createDataset(label, data, colorOpts = {}) {
    return {
      label: label,
      fill: false,
      lineTension: 0.1,
      backgroundColor: colorOpts.backgroundColor || "rgb(63, 191, 191)",
      yAxisId: "id1",
      borderColor: (
        colorOpts.borderColor || "rgb(231, 89, 231)"
        ), 
      borderCapStyle: 'square',
      borderDash: [], 
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "black",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: (
        colorOpts.pointHoverBackgroundColor || "rgb(89, 231, 160)"
        ),
      pointHoverBorderColor: (
        colorOpts.pointHoverBorderColor || "rgb(109, 211, 232)"
        ),
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,


      data: data,
      spanGaps: true,
    };
}


$(document).on('ready', () => {

  console.log('hi');

  const ctx = $('#lineChart').get(0).getContext('2d');
  console.log(ctx);
  

  const options = {
    responsive: true,
    hoverMode: 'index',
    stacked: true,
    title: {
      display: true,
      text: 'Biometric Data vs. Mental Health Test Scores'
    },
    scales: {
      yAxes: [{
        type: 'linear',
        display: true,
        position: 'left',
        id: 'id1'
      }, {
        type: 'linear',
        display: true,
        position: 'right',
        id: 'id2',
        gridLines: {
          drawOnChartArea: false,
        },
        xAxes: [{
          type: 'time',
          distribution: 'series',
          ticks: {
            autoSkip: false
          }
        }]
      }],
    }
  };


  const data = {
    labels: {{ labels|tojson }},
    datasets: [
      createDataset(
        'Test Scores',
        {{ data1|tojson }}
        ),
      createDataset(
        'FitBitData',
        {{ data2|tojson }}
       
        )
    ]
  };

  const fitbitLineChart = new Chart(
    ctx,
    {
      type: 'line',
      data: data,
      options: options
    }
  );

  $('#chartdata').on('submit', (evt)=> {
    evt.preventDefault();
    const formData = {
      firstchart_type: $(
        'input:radio[name="firstchart_type"]:checked',
        '#chartdata'
      ).val(),
      secchart_type: $(
        'input:radio[name="secchart_type"]:checked',
        '#chartdata'
      ).val(),
      format: 'json'
    };

    $.get('/chartdata', formData, (data)=> {
      const lengthLabel = fitbitLineChart.data.labels.length;
      const lengthDataset = fitbitLineChart.data.datasets.length;
      $('.legend').html(data.stats);
      console.log(data.stats);

      for (let i = 0; i<lengthLabel; i++) {
        fitbitLineChart.data.labels.pop();
      
      };
      for (const label of data.labels) {
        fitbitLineChart.data.labels.push(label);
      }

      for (let i = 0; i<lengthDataset; i++) {
        fitbitLineChart.data.datasets.pop();
      }

      for (const dataset of data.datasets) {
        const newConfig = createDataset(
                              dataset.label,
                              dataset.data,
                              dataset.colorOpts);

        fitbitLineChart.data.datasets.push(newConfig);
      }



      fitbitLineChart.update();
    });
  });

});
</script>

<footer>
    <div>
                  <form action = "/logout" method = "POST"> 
                  <input type = "submit" value = "Log Out"> <!--    Show only when user is logged in using JS -->
                 </form>
            </div>
        </footer>

</ul>
</div>
  <span><h3> <form action = '/getfit' method = 'GET'> <a href = '/getfit'> Access more FitBit data</a></form> </h3>
  <h3> <form action = '/newtest' method = 'GET'> <a href = '/newtest'> Take a new mental health test</a></form> </h3> 
  <h3> <form action = '/chartdata' method = 'GET'><a href = '/chartdata'> View Chart </a></form></h3></span>

<footer>
    <div>
                  <form action = "/logout" method = "POST"> 
                  <input type = "submit" value = "Log Out"> <!--    Show only when user is logged in using JS -->
                 </form>
            </div>
        </footer>
{% endblock %}
