{% extends 'base.html' %}

{% block body %}

<h2 class="form-signin-heading">Your FitBit Data</h2>
     <br><br>
<div>
<ul> 
<form action = "/chartdata" id = "chartdata" name = "chartdata"> Select what type of data you would like to chart: <br>
  <input type = "radio" class = "chart" name = "firstchart_type" value = "PHQ" required> PHQ9 Scores <br>
  <input type = "radio" class = "chart" name = "firstchart_type" value = "GAD7" required> GAD7 Scores <br>
  <input type ="radio" class = "chart" name = "firstchart_type" value = "ISI" required> Insomnia Sleep Questionnaire <br><br>
  <input type = "radio" class = "chart" name = "secchart_type" value = "Steps" required> Steps <br>
  <input type = "radio" class = "chart" name = "secchart_type" value = "Resting Heart Rate" required> Resting Heart Rate <br>
  <input type ="radio" class = "chart" name = "secchart_type" value = "Mins Slept" required> Mins Slept <br>
  <input type = "radio" class = "chart" name = "secchart_type" value = "Mins Exercise" required> Mins Exercise <br>
  <input type = "radio" class = "chart" name = "secchart_type" value = "Mins Sedentary" required> Mins Sedentary <br>
     <button type="submit">Submit 
        </button>
  </form>

  Insert Chart here:
  <div class = 'lineChart'>
  <canvas id='lineChart'></canvas>
</div>


<script>

  // Make line graph of data currently available
  // Get input out of a form element with jQuery


let ctx = $('#lineChart').get(0).getContext('2d');

const dataString = {
    'firstchart_type': $("input:radio[name='firstchart_type']:checked", "#chartdata").val(),
    'secchart_type': $("input:radio[name='secchart_type']:checked", "#chartdata").val()
  };


const options = {
  responsive: true,
  hoverMode: 'index',
  stacked: true,
  title: {
    display: true,
    text: 'MultiAxis Chart'
  },
  scales: {
    yAxes: [{
      type: 'linear',
      display: true,
      position: 'left',
      id: 'id1'
    }, {
      type: 'linear',
      display: true,
      position: 'right',
      id: 'id2',
      gridLines: {
        drawOnChartArea: false,
      },
    }],
  }
};


const data = {
  labels: {{labels|safe}},
  datasets: [{
      label: "Test Scores",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "rgb(63, 191, 191)",
      yAxisId: "id1",
      borderColor: "rgb(231, 89, 231)", // The main line color
      borderCapStyle: 'square',
      borderDash: [], // try [5, 15] for instance
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "black",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "rgb(89, 231, 160)",
      pointHoverBorderColor: "rgb(109, 211, 232)",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: true
      data: {{data1|safe}},
      spanGaps: true,
    }, {
      label: "FitBit Data",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "rgb(232, 129, 109)",
      yAxisId: "id2",
      borderColor: "rgb(109, 232, 129)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "white",
      pointBackgroundColor: "black",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "rgb(150, 75, 220)",
      pointHoverBorderColor: "rgb(75, 218, 220)",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: false
      data: {{data2|safe}},
      spanGaps: true,
    }]
  };

    let myBarChart = new Chart(ctx, {
                            type: 'line',
                            data: data,
                            options: options
                        });

    console.log(dataString);
    console.log(typeof(dataString));
    if (typeof dataString == 'undefined'){
      myBarChart.destroy();
    } else {

  $.get('/chartdata', dataString, (data)=> {
      console.log(data);
    let myBarChart = new Chart(ctx, {
                            type: 'line',
                            data: (data)});
        $('#chartdata').submit( (evt)=> {
    evt.preventDefault();
     const formInputs = {
      'chart_type':$("input:checkbox[name='chart_type']:checked", "#chartdata").val()

    };
    console.log(formInputs)
    $.get('/chartdata', formInputs, (data)=> {
      console.log(data);
      myBarChart.data = (data);
      myBarChart.update();
    });
  });
  });
};


</script>

<footer>
    <div>
                  <form action = "/logout" method = "POST"> 
                  <input type = "submit" value = "Log Out"> <!--    Show only when user is logged in using JS -->
                 </form>
            </div>
        </footer>

</ul>
</div>
  <span><h3> <form action = '/getfit' method = 'GET'> <a href = '/getfit'> Access more FitBit data</a></form> </h3>
  <h3> <form action = '/newtest' method = 'GET'> <a href = '/newtest'> Take a new mental health test</a></form> </h3> 
  <h3> <form action = '/chart' method = 'GET'><a href = '/chart'> View Chart </a></form></h3>
  <h3><form action = '/ehrtemplate' method = 'GET'><a href = '/ehrtemplate'> Convert Data to EHR Template </a></span>
{% endblock %}
