{% extends 'base.html' %}

{% block body %}

<h2 class="form-signin-heading">Your FitBit Data</h2>
     <br><br>
<div>
<ul> 
<form action = "/chartdata.json"> Select what type of data you would like to chart: <br>
  <input type = "radio" name = "chart_type" value = "phq"> PHQ9 Scores <br>
  <input type = "radio" name = "chart_type" value = "gad"> GAD7 Scores <br>
  <input type = "radio" name = "chart_type" value = "sleep"> Sleep Questionnaire Scores <br>
     <button type="submit">Submit 
        </button>
  </form>

  Insert Chart here:
  <div class = 'lineChart'>
  <canvas id='lineChart'></canvas>
  <div id='lineLegend'></div>
</div>

<script>
  const options = {
    responsive: true
  };

  // Make line graph of data currently available
  let ctx = $('#lineChart').get(0).getContext('2d');

  $.get('/chartdata.json', (data)=> {
    let myLineChart = Chart.Line(ctx, {
                            data: data,
                            options: options
                        });
    $('#lineLegend').html(myLineChart.generateLegend());
  });


</script>

</ul>
</div>
  <span><h3> <form action = '/getfit' method = 'GET'> <a href = '/getfit'> Access more FitBit data</a></form> </h3>
  <h3> <form action = '/newtest' method = 'GET'> <a href = '/newtest'> Take a new mental health test</a></form> </h3> 
  <h3> <form action = '/chart' method = 'GET'><a href = '/chart'> View Chart </a></form></h3>
  <h3><form action = '/ehrtemplate' method = 'GET'><a href = '/ehrtemplate'> Convert Data to EHR Template </a></span>
{% endblock %}