{% extends 'base.html' %}
{% block body %}
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/sc-2.0.0/datatables.min.css"/>
 
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/sc-2.0.0/datatables.min.js"></script>

  <script src="https://kit.fontawesome.com/508d817dd4.js"></script>
</head>
<style>

 .nav-item{
    overflow:hidden;
 }
 .nav-item a{
  float:left;
  color:#88BBD6;
  text-align:left;
  padding:14px, 16px;
  text-decoration:none;
  font-size:16px;
  border-bottom: 2px solid transparent;
 }
 .nav-item a:hover {
  border-bottom: 3px solid #99D3DF;
 }


</style>
<div>
  <h1> FitKit Data for {{ user.f_name }} </h1>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fas fa-id-card" aria-hidden="true"></i> User Profile <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chartdata"><i class="fas fa-chart-line" aria-hidden="true"></i> Charts <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/getfit"><i class="fas fa-heartbeat" aria-hidden="true"></i> Access More FitBit Data <span class="sr-only"></span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newtest"><i class="far fa-edit" aria-hidden="true"></i> Mental Health Tests <span class="sr-only"></span></a>
            </li> 
            <li class="nav-item">
            <a class="nav-link" href="/bmi"><i class="fas fa-weight" aria-hidden="true"></i>  Calculate BMI <span class="sr-only"></span></a>
            </li> 
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"> Recent FitBit Data</h1>
     </div>
     <div class="table-responsive">
      <table class="table table-striped table-bordered table-sm" id="fitbitdata">
        <thead> FitBit Data
          {% if user.dailymetrics %}
          <tr> <th> Date </th>
            <th> Steps </th>
            <th> Sleep (mins) </th>
            <th> Sedentary Minutes </th>
            <th> Active Minutes </th>
            <th> Resting Heart Rate </th>
          </tr>
        </thead>

          <tbody>
              {% for test in user.dailymetrics %}
          <tr>
            <td> {{test.date}} </td>
            <td> {{test.steps}} </td>
            <td> {{test.sleep}}</td>
            <td> {{test.mins_sedentary}}</td>
            <td> {{test.mins_exercise}}</td>
            <td> {{test.resting_hr}}</td>
          </tr>
             {% endfor %}
            {% else %}
              <div> No Available Results <br>
                <a href='/getfit' role="button" class="btn btn-light" style="float:left;"> Import your FitBit data </a>
              </div>
          {% endif %}
        </tbody>
      </table>
    </div>
    </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm" id="phq"><br>
        <thead> PHQ9 Scores
          {% if user.phq %}
          <tr><th> Date </th>
            <th> PHQ9 Score </th>
            <th> Indicated Depression Severity </th>
          </tr>
        </thead>
          <tbody>
            {% for test in user.phq %}
            <tr>
              <td> {{test.date}} </td>
              <td> {{test.score}} </td>
              <td> {{test.dep_severity}}</td>
            </tr>
          </div>
             {% endfor %}
            {% else %}
            <div>
              No Available Results <br>
             <a href="/newtest" role="button" class="btn btn-light" style="float:left;"> Take your first PHQ9 test</a> 
           </div>
            {% endif %}
        </tbody>         
      </table>
      <div class="table-responsive">
      <table class="table table-striped table-sm" id="gad"><br>
        <thead> GAD7 Scores
          {% if user.gad %}
          <tr><th> Date </th>
            <th> GAD7 Score </th>
            <th> Indicated Anxiety Severity </th>
          </tr>
        </thead>
          <tbody>
            {% for test in user.gad %}
            <tr>
              <td> {{test.date}} </td>
              <td> {{test.score}} </td>
              <td> {{test.anx_severity}}</td>
            </tr>
             {% endfor %}
             {% else %}
              No Available Results <br>
             <a href="/newtest" role="button" class="btn btn-light" style="float:left;"> Take your first GAD7 test</a> 
           </div>
            {% endif %}
        </tbody>         
      </table>
      <div class="table-responsive">
      <table class="table table-striped table-sm" id="sleep"><br>
        <thead> Sleep Questionnaire Scores
          {% if user.sleep %}
          <tr><th> Date </th>
            <th> Sleep Questionnaire Score </th>
            <th> Indicated Insomnia Severity </th>
          </tr>
        </thead>
          <tbody>
            {% for test in user.sleep %}
            <tr>
              <td> {{test.date}} </td>
              <td> {{test.score}} </td>
              <td> {{test.insomnia_severity}}</td>
            </tr>
             {% endfor %}
             {% else %}
              No Available Results <br>
             <a href="/newtest" role="button" class="btn btn-light" style="float:left;"> Take your first Sleep Questionnaire</a> 
           </div>
            {% endif %}
        </tbody>         
      </table>
  </main>
</div>
</div>


<h4><form action = '/getfit' method = 'GET'> <a href = '/getfit' class="btn btn-info" role="button" style="float:right;"> Access more FitBit data</a></form> </h4><br>
  <h4> <form action = '/newtest' method = 'GET'> <a href = '/newtest' class="btn btn-info" role="button" style="float:right;"> Take a new mental health test</a></form></h4><br>
  <h4> <form action = '/chartdata' method = 'GET'><a href = '/chartdata' class="btn btn-info" role="button" style="float:right;"> View Chart </a></form></h4><br>

<footer>
    <div> <br><br>
        <form action = "/logout" method = "POST"> 
          <input type = "submit" class="btn btn-light"value = "Log Out"> 
          </form>
      </div>
</footer>

<script>
  $(document).ready(function(){
    $('#fitbitdata').DataTable();
    $('#phq').DataTable();
    $('#gad').DataTable();
    $('#sleep').DataTable();
  });
</script>

{% endblock %}