{% extends 'base.html' %}

{% block body %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<h2 class="form-signin-heading">Your FitBit Data</h2>
     <br><br>
<div>
<ul> Patient is a __ year old __male who presents for ____. 

 
<form action = '/predict' method = 'POST'>Input biometric data to be evaluated <br> <br>
  <input type = 'text' id = "predictdata"> 
  <input type = "submit" value = "Submit">
</form>
<div id = 'response'>
  </div>
</ul>
</div>
  <span><h3> <form action = '/getfit' method = 'GET'> <a href = '/getfit'> Access more FitBit data</a></form> </h3>
  <h3> <form action = '/newtest' method = 'GET'> <a href = '/newtest'> Take a new mental health test</a></form> </h3> 
  <h3> <form action = '/chart' method = 'GET'><a href = '/chart'> View Chart </a></form></h3>
  <h3><form action = '/ehrtemplate' method = 'GET'><a href = '/ehrtemplate'> Convert Data to EHR Template </a></span> <br> <br>

<!-- <script>
  $.post('predict', params = $(this).val(), (data)=> { $('#response').HTML(data); }
</script> -->
<footer>
    <div>
                  <form action = "/logout" method = "POST"> 
                  <input type = "submit" value = "Log Out"> <!--    Show only when user is logged in using JS -->
                 </form>
            </div>
        </footer>
{% endblock %}