{% extends 'base.html' %}

{% block body %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<h2 class="form-signin-heading">Your FitBit Data</h2>
     <br><br>
<div>
<ul> Patient is a __ year old __male who presents for ____. 
  
 
  {% endfor %}

</ul>
</div>
  <span><h3> <form action = '/getfit' method = 'GET'> <a href = '/getfit'> Access more FitBit data</a></form> </h3>
  <h3> <form action = '/newtest' method = 'GET'> <a href = '/newtest'> Take a new mental health test</a></form> </h3> 
  <h3> <form action = '/chart' method = 'GET'><a href = '/chart'> View Chart </a></form></h3>
  <h3><form action = '/ehrtemplate' method = 'GET'><a href = '/ehrtemplate'> Convert Data to EHR Template </a></span>
{% endblock %}