{% extends 'base.html' %}

{% block body %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<h2 class="form-signin-heading">Import your FitBit data</h2>
    <form action="/fitbitdata" method="GET">
      Select a date or date range: <br>
       <input type = "date" name = "date1"> Start Date <br>
       <input type = "date" name = "date2"> End Date  <br>


        
        <button type="submit">Submit
        </button>


    </form>
<footer>
    <div>
                  <form action = "/logout" method = "POST"> 
                  <input type = "submit" value = "Log Out"> <!--    Show only when user is logged in using JS -->
                 </form>
            </div>
        </footer>

{% endblock %}