{% extends 'base.html' %}

{% block body %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<h2 class="form-signin-heading">Export your FitBit data</h2>
    <form action="/fitbitdata" method="GET">
       <!-- insert calendar plugin function to get date1 and date2, unless only specify today -->
       <input type = "text" name = "date1"> Start Date (YYYY-MM-DD) <br>
       <input type = "text" name = "date2"> End Date (YYYY-MM-DD) <br>

       Type of FitBit data <br>
        <input type = "radio" name = "type" value = "activities-heart"> Heart Rate <br>
        <input type = "radio" name = "type" value = "sleep"> Sleep <br>
        <input type = "radio" name = "type" value = "steps"> Steps + Activity <br>
        What type of activity? <select name = "activitytype" id = "activitytype"> 
            <option> Please select: </option>
            <option value = "activities-steps"> Steps </option>
            <option value = "activities-minutesSedentary"> # Sedentary Minutes </option>
            <option value = "activities-minutesFairlyActive"> # Fairly Active Minutes </option>
            <option value = "activities-minutesLightlyActive"> # Lightly Active Minutes </option>
            <option value = "activities-minutesVeryActive"> # Very Active Minutes </option> </select>
  

<!--         Make it so that options only show when activity selected using JS -->
        
        <button type="submit">Submit
        </button>


    </form>

{% endblock %}