{% extends 'base.html' %}

{% block body %}
<!--     <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/> -->

<body>
    <title>Welcome to FitKit</title>

    <h1> Welcome to FitKit </h1>
        <h2>Your First Step to a Fitter You: Physically AND Mentally </h2>

        <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">FitKit</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>

        </div>
    </div>
</body>
{% endblock %}
