{% extends 'base.html' %}



{% block body %}

<h2 class="form-signin-heading">Take a New Test</h2>
    <form action="/newtest" method="POST">

       <!-- insert calendar plugin function to get date1 and date2, unless only specify today -->
    <!--    Find how to get data and input into db
    Implement javascript to show/hide forms that have/have not been selected to be taken
 -->
       <select name = "testtype"> Select which test you would like to take:
        <option> Select </option>
        <option value = "phq"> Patient Health Questionnaire (PHQ9: to assess degree of depression severity) </option>
        <option value = "gad"> Generalized Anxiety Disorder (GAD7: to assess degree of anxiety severity) </option>
        <option value = "sleep"> Sleep Questionnaire (To assess degree of insomnia severity) </option>

      </select>

<!--       on submit, show/hide form selected to allow for completion of test. -->

    <h3> Generalized Anxiety Disorder Evaluation (GAD7) </h3>
    <h4> A seven question test designed to assess the degree of anxiety severity. </h4>
  <h5> How often have you been bothered by the following over the past two weeks? </h5>
    <body>
      <div>
        Question 1: Feeling nervous, anxious, or on edge? <br> 
        <input type = "radio" name = "q1gad" value = "0"> Not at All <br>
        <input type = "radio" name = "q1gad" value = "1"> Several days <br>
        <input type = "radio" name = "q1gad" value = "2"> More than half the days <br>
        <input type = "radio" name = "q1gad" value = "3"> Nearly every day <br>
        Question 2: Not being able to stop or control worrying? <br> 
        <input type = "radio" name = "q2gad" value = "0"> Not at All <br>
        <input type = "radio" name = "q2gad" value = "1"> Several days <br>
        <input type = "radio" name = "q2gad" value = "2"> More than half the days <br>
        <input type = "radio" name = "q2gad" value = "3"> Nearly every day <br>

        Question 3: Worrying too much about different things? <br> 
        <input type = "radio" name = "q3gad" value = "0"> Not at All <br>
        <input type = "radio" name = "q3gad" value = "1"> Several days <br>
        <input type = "radio" name = "q3gad" value = "2"> More than half the days <br>
        <input type = "radio" name = "q3gad" value = "3"> Nearly every day <br>

        Question 4: Trouble relaxing? <br> 
        <input type = "radio" name = "q4gad" value = "0"> Not at All <br>
        <input type = "radio" name = "q4gad" value = "1"> Several days <br>
        <input type = "radio" name = "q4gad" value = "2"> More than half the days <br>
        <input type = "radio" name = "q4gad" value = "3"> Nearly every day <br>

        Question 5: Being so restless that it's hard to sit still? <br> 
        <input type = "radio" name = "q5gad" value = "0"> Not at All <br>
        <input type = "radio" name = "q5gad" value = "1"> Several days <br>
        <input type = "radio" name = "q5gad" value = "2"> More than half the days <br>
        <input type = "radio" name = "q5gad" value = "3"> Nearly every day <br>

        Question 6: Becoming easily annoyed or irritable? <br> 
        <input type = "radio" name = "q6gad" value = "0"> Not at All <br>
        <input type = "radio" name = "q6gad" value = "1"> Several days <br>
        <input type = "radio" name = "q6gad" value = "2"> More than half the days <br>
        <input type = "radio" name = "q6gad" value = "3"> Nearly every day <br>

        Question 7: Feeling afraid as if something awful might happen? <br> 
        <input type = "radio" name = "q7gad" value = "0"> Not at All <br>
        <input type = "radio" name = "q7gad" value = "1"> Several days <br>
        <input type = "radio" name = "q7gad" value = "2"> More than half the days <br>
        <input type = "radio" name = "q7gad" value = "3"> Nearly every day <br>
        <button type="submit">Submit
        </button>

      </div>

    <h3> Patient Health Questionnaire (PHQ9) </h3>
    <h4> A nine question test designed to assess the degree of depression severity. </h4>
  <h5> How often have you been bothered by the following over the past two weeks? </h5>
    <body>
      <div>
        Question 1: Little interest or pleasure in doing things? <br> 
        <input type = "radio" name = "q1phq" value = "0"> Not at All <br>
        <input type = "radio" name = "q1phq" value = "1"> Several days <br>
        <input type = "radio" name = "q1phq" value = "2"> More than half the days <br>
        <input type = "radio" name = "q1phq" value = "3"> Nearly every day <br>
        Question 2: Feeling down, depressed, or hopeless? <br> 
        <input type = "radio" name = "q2phq" value = "0"> Not at All <br>
        <input type = "radio" name = "q2phq" value = "1"> Several days <br>
        <input type = "radio" name = "q2phq" value = "2"> More than half the days <br>
        <input type = "radio" name = "q2phq" value = "3"> Nearly every day <br>

        Question 3: Trouble falling or staying asleep, or sleeping too much? <br> 
        <input type = "radio" name = "q3phq" value = "0"> Not at All <br>
        <input type = "radio" name = "q3phq" value = "1"> Several days <br>
        <input type = "radio" name = "q3phq" value = "2"> More than half the days <br>
        <input type = "radio" name = "q3phq" value = "3"> Nearly every day <br>

        Question 4: Feeling tired or having little energy? <br> 
        <input type = "radio" name = "q4phq" value = "0"> Not at All <br>
        <input type = "radio" name = "q4phq" value = "1"> Several days <br>
        <input type = "radio" name = "q4phq" value = "2"> More than half the days <br>
        <input type = "radio" name = "q4phq" value = "3"> Nearly every day <br>

        Question 5: Poor appetite or overeating? <br> 
        <input type = "radio" name = "q5phq" value = "0"> Not at All <br>
        <input type = "radio" name = "q5phq" value = "1"> Several days <br>
        <input type = "radio" name = "q5phq" value = "2"> More than half the days <br>
        <input type = "radio" name = "q5phq" value = "3"> Nearly every day <br>

        Question 6: Feeling bad about yourself--or that you are a failure or have let yourself or your family down? <br> 
        <input type = "radio" name = "q6phq" value = "0"> Not at All <br>
        <input type = "radio" name = "q6phq" value = "1"> Several days <br>
        <input type = "radio" name = "q6phq" value = "2"> More than half the days <br>
        <input type = "radio" name = "q6phq" value = "3"> Nearly every day <br>

        Question 7: Trouble concentrating on things, such as reading the newspaper or watching television? <br> 
        <input type = "radio" name = "q7phq" value = "0"> Not at All <br>
        <input type = "radio" name = "q7phq" value = "1"> Several days <br>
        <input type = "radio" name = "q7phq" value = "2"> More than half the days <br>
        <input type = "radio" name = "q7phq" value = "3"> Nearly every day <br>

        Question 8: Moving or speaking so slowly that other people could have noticed? Or so fidgety or restless that you have been moving a lot more than usual? <br> 
        <input type = "radio" name = "q8phq" value = "0"> Not at All <br>
        <input type = "radio" name = "q8phq" value = "1"> Several days <br>
        <input type = "radio" name = "q8phq" value = "2"> More than half the days <br>
        <input type = "radio" name = "q8phq" value = "3"> Nearly every day <br>

        Question 9: Thoughts that you would be better off dead, or thoughts of hurting yourself in some way?<br> 
        <input type = "radio" name = "q9phq" value = "0"> Not at All <br>
        <input type = "radio" name = "q9phq" value = "1"> Several days <br>
        <input type = "radio" name = "q9phq" value = "2"> More than half the days <br>
        <input type = "radio" name = "q9phq" value = "3"> Nearly every day <br>
        <button type="submit">Submit
        </button>
    </div>

    <h3> Sleep Questionnaire (Insomnia Severity Index) </h3>
    <h4> A seven question test designed to assess the degree of insomnia severity. </h4>
  <h5> Please rate the current (i.e. last two weeks) severity of your sleep problem(s). </h5>
    <body>
      <div>
        Question 1: Difficulty falling asleep <br> 
        <input type = "radio" name = "q1" value = "0"> None/Not at All <br>
        <input type = "radio" name = "q1" value = "1"> Mild/Several days <br>
        <input type = "radio" name = "q1" value = "2"> Moderate/More than half the days <br>
        <input type = "radio" name = "q1" value = "3"> Severe/Nearly every day <br>
        <input type = "radio" name = "q1" value = "4"> Very Severe/Every day <br>
        Question 2: Difficulty staying asleep <br> 
        <input type = "radio" name = "q2" value = "0"> None/Not at All <br>
        <input type = "radio" name = "q2" value = "1"> Mild/Several days <br>
        <input type = "radio" name = "q2" value = "2"> Moderate/More than half the days <br>
        <input type = "radio" name = "q2" value = "3"> Severe/Nearly every day <br>
        <input type = "radio" name = "q2" value = "4"> Very Severe/Every day <br>

        Question 3: Problems waking up too early <br> 
        <input type = "radio" name = "q3" value = "0"> None/Not at All <br>
        <input type = "radio" name = "q3" value = "1"> Mild/Several days <br>
        <input type = "radio" name = "q3" value = "2"> Moderate/More than half the days <br>
        <input type = "radio" name = "q3" value = "3"> Severe/Nearly every day <br>
        <input type = "radio" name = "q3" value = "4"> Very Severe/Every day <br>

        Question 4: How satisfied/dissatisfied are you with your current sleep pattern? <br> 
        <input type = "radio" name = "q4" value = "0"> Very Satisfied <br>
        <input type = "radio" name = "q4" value = "1"> Satisfied <br>
        <input type = "radio" name = "q4" value = "2"> Moderately satisfied <br>
        <input type = "radio" name = "q4" value = "3"> Dissatisfied <br>
        <input type = "radio" name = "q4" value = "4"> Very dissatisfied <br>

        Question 5: How noticeable to others do you think your sleep problem is in terms of impairing the quality of your life? <br> 
        <input type = "radio" name = "q5" value = "0"> Not at all noticeable <br>
        <input type = "radio" name = "q5" value = "1"> A little <br>
        <input type = "radio" name = "q5" value = "2"> Somewhat <br>
        <input type = "radio" name = "q5" value = "3"> Much <br>
        <input type = "radio" name = "q5" value = "4"> Very much noticeable <br>
        Question 6: How worried/distressed are you about your current sleep problem? <br> 
        <input type = "radio" name = "q6" value = "0"> Not at all worried <br>
        <input type = "radio" name = "q6" value = "1"> A little <br>
        <input type = "radio" name = "q6" value = "2"> Somewhat <br>
        <input type = "radio" name = "q6" value = "3"> Much <br>
        <input type = "radio" name = "q6" value = "4"> Very much worried <br>

        Question 7: To what extent do you consider your sleep problem to interfere with your daily functioning (e.g. daytime fatigue, mood, ability to function at work/daily chores, concentration, memory, mood, etc.) currently? <br> 
        <input type = "radio" name = "q7" value = "0"> Not at all interfering <br>
        <input type = "radio" name = "q7" value = "1"> A little <br>
        <input type = "radio" name = "q7" value = "2"> Somewhat <br>
        <input type = "radio" name = "q7" value = "3"> Much <br>
        <input type = "radio" name = "q7" value = "4"> Very much interfering <br>

        <button type="submit">Submit
        </button>
        
        </div>
      </body>
    </form>
<footer>
    <div>
                  <form action = "/logout" method = "POST"> 
                  <input type = "submit" value = "Log Out"> <!--    Show only when user is logged in using JS -->
                 </form>
            </div>
        </footer>

<script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script type = "text/javascript">
    $('event.target').change(function(){
        if ($(this).val() == "phq"){
            $('.phqform').show();
            $('.gadform').hide();
            $('.sleepform').hide();
        } else if ($(this).val()== "gad"){
            $('.gadform').show();
            $('.sleepform').hide();
            $('.phqform').hide();
        } else if ($(this).val() == "sleep"){
            $('.sleepform').show();
            $('.gadform').hide();
            $('.phqform').hide();
        } else {
            $('.sleepform').hide();
            $('.phqform').hide();
            $('.gadform').hide();
        }
    });
</script>

{% endblock %}