{% extends 'base.html' %}

{% block body %}

<h1>Registration Form:</h1>

    <form action = '/register' class="form-register" method="POST">

        <h2 class="form-register-heading">Create Your FitKit Account</h2>

        <div class="form-group">
            <label for="email-field" class="sr-only">Email Address</label>
            <input type="email"
                   name="email"
                   class="form-control input-lg"
                   placeholder="Email Address"
                   required
                   autofocus>
        </div>
        <div class="form-group">
            <label class="sr-only">First Name </label>
            <input type="f_name"
                   name="f_name"
                   class="form-control input-lg"
                   placeholder="First Name"
                   required
                   autofocus> <br>
                   <span>
            <label class="sr-only">Last Name </label>
            <input type="l_name"
                   name="l_name"
                   class="form-control input-lg"
                   placeholder="Last Name"
                   required
                   autofocus> <br>
            <label class="sr-only">Age </label>
            <input type="age"
                   name="age"
                   class="form-control input-lg"
                   placeholder="Age"
                   required
                   autofocus> <br>
            Sex <br>
            <input type = "radio" name = "sex" value = "F"> Female <br>
            <input type = "radio" name = "sex" value = "M"> Male <br>
                   </span>
        </div>
        <div class="form-group">
            <label for="password-field" class="sr-only">Password</label>
            <input type="password"
                   name="password"
                   class="form-control input-lg"
                   placeholder="Password"
                   required>
        </div>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Create your account
        </button>

    </form>


{% endblock %}