{% extends 'base.html' %}
{% block body %}
<style>
  .card {
    text-align: center;
    margin:0 auto;
    float:none;
    margin-bottom:10px;
  }
.profile-userbuttons{
  margin-bottom:20px;
}
.btn-info {
  margin-right:50px;
}
</style>
<div class="card border-#99D3DF mb-3" style="max-width:18rem;">
  <div class="card-header">Profile</div>
    <div class="card-body">
      <div class="profile-logo">
        <img src="static/fit.png" class="img-responsive" alt="">
        </div>
        <div class="card-title">
            {{user.f_name}} {{user.l_name}}
          </div>
          <div class="card-text" >
            Height: {{((user.height//0.0254)//12)|int}} ft {{((user.height/0.3048)%1 * 12)|int}} in <br>
            Weight: {{((user.weight)*2.2)|int}} lbs <br>
          </div>
        </div>
        <div class="profile-userbuttons">
          <a href= "https://accounts.fitbit.com/login?targetUrl=https%3A%2F%2Fwww.fitbit.com%2Flogin%2Ftransferpage%3Fredirect%3Dhttps%253A%252F%252Fwww.fitbit.com&lcl=en_US" role="button" class="btn btn-danger">Your FitBit Account </a>
  
        </div>
        </div>
      </div>
    </div>
  </div>


  <h4><form action = '/getfit' method = 'GET'> <a href = '/getfit' class="btn btn-info" role="button" style="float:right;"> Access more FitBit data</a></form> </h4><br>
  <h4> <form action = '/newtest' method = 'GET'> <a href = '/newtest' class="btn btn-info" role="button" style="float:right;"> Take a new mental health test</a></form></h4><br>
  <h4> <form action = '/chartdata' method = 'GET'><a href = '/chartdata' class="btn btn-info" role="button" style="float:right;"> View Chart </a></form></h4><br>

<footer>
    <div> <br><br>
                  <form action = "/logout" method = "POST"> 
                  <input type = "submit" class="btn btn-light"value = "Log Out"> <!--    Show only when user is logged in using JS -->
                 </form>
            </div>
        </footer>

{% endblock %}
